html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 450px;
  width: 100%;
}

#map-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(217, 71%, 53%);
  padding: 10px;
}

.hero-background {
  background-image: url("https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
